In [69]:
import pandas as pd
import fastparquet as fp
import missingno as msn
import matplotlib.pyplot as plt
import numpy as np
from datetime import date, timedelta, datetime
from sqlalchemy import create_engine
from geopy.geocoders import Nominatim

# Importamos la tabla

In [70]:
df_accidentes= pd.read_csv('/henry/PI03/AccidentesAviones.csv')

# Borramos la columna Unnamed: 0

In [72]:
df_accidentes.drop(columns='Unnamed: 0',inplace=True)

# Normalizamos las tablas para eliminar caracteres extra√±os

In [73]:
def RemplazaValoresColumna(dataframe,columna_in_str,to_replace_in_str,replaced_by_in_str):
     dataframe[columna_in_str]=dataframe[columna_in_str].astype('string').str.replace(to_replace_in_str,replaced_by_in_str)

In [74]:
RemplazaValoresColumna(df_accidentes,'cantidad de fallecidos','?','',)
RemplazaValoresColumna(df_accidentes,'fecha','?','',)
RemplazaValoresColumna(df_accidentes,'Ruta','?','',)
RemplazaValoresColumna(df_accidentes,'ac_type','?','',)
RemplazaValoresColumna(df_accidentes,'OperadOR','?','',)
RemplazaValoresColumna(df_accidentes,'cantidad de fallecidos','?','',)
RemplazaValoresColumna(df_accidentes,'ground','?','',)
RemplazaValoresColumna(df_accidentes,'ac_type','?','',)

C:\Users\juseb\AppData\Local\Temp\ipykernel_14428\1342852555.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataframe[columna_in_str]=dataframe[columna_in_str].astype('string').str.replace(to_replace_in_str,replaced_by_in_str)

# Cambiamos de nombre a las columnas

In [75]:
df_accidentes.rename(columns={'fecha':'Date',
                            'HORA declarada':'Time',
                            'Ruta':'Location',
                            'OperadOR':'Operator',
                            'flight_no':'Flight',
                            'route':'Route',
                            'ac_type':'Type',
                            'registration':'Registration',
                            'cn_ln':'cn/In',
                            'all_aboard':'Aboard',
                            'PASAJEROS A BORDO':'Passengers_Aboard',
                            'crew_aboard':'Crew Aboard',
                            'cantidad de fallecidos':'Fatalities',
                            'passenger_fatalities':'Passengers Fatalities',
                            'crew_fatalities':'Crew Fatalities',
                            'ground':'Ground',
                            'summary':'Summary'},inplace=True)

# Normalizamos la columna Date

In [76]:
df_accidentes['Date']=pd.to_datetime(df_accidentes['Date'])
df_accidentes.head(2)

,Date,Time,Location,Operator,Flight,Route,Type,Registration,cn/In,Aboard,Passengers_Aboard,Crew Aboard,Fatalities,Passengers Fatalities,Crew Fatalities,Ground,Summary
0,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1909-09-07,?,"Juvisy-sur-Orge, France",,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...

# Normalizamos la Columna time

In [77]:
def normalize_time(value):
    value = value.replace('?', '00:00') 
    value = value.replace('c: ', '')
    value = value.replace('c:', '')
    value = value.replace('c', '')
    value = value.replace('Z','')
    value = value.replace(' ', '')
    value = value.replace(':','')
    value = value.replace(';','')

    if ':' not in value:
        return value
    elif value[0] == ':':
        return f'00{value}'
    elif value[-1] == ':':
        return f'{value}00'
    elif len(value) ==4:
        return '0' + value
    else : 
        return value

In [78]:
df_accidentes['Time']=df_accidentes['Time'].apply(lambda x: normalize_time(x))

In [79]:
df_accidentes['Time']=pd.to_datetime(df_accidentes['Time'],format='%H%M').dt.time

# Creamos una tabla externa para tomar solo 108 valores de muestra de la tabla original

In [80]:
df_accidentes2=df_accidentes.truncate(before='4900')

In [81]:
df_accidentes2.shape

(108, 17)

# Geolocalizacion, de direccion a coordinadas

In [82]:
from geopy.geocoders import Nominatim 
geolocator = Nominatim(user_agent="sebaburella")

In [88]:
import time
start=time.time()

from geopy.extra.rate_limiter import RateLimiter
geocode= RateLimiter(geolocator.geocode, min_delay_seconds=1)

df_accidentes2['Location']=df_accidentes2['Location'].apply(geocode)

Latitud

In [89]:
df_accidentes2['Latitude']=df_accidentes2['Location'].apply(lambda x: (x.latitude))

end = time.time()
elapsed = end - start

print(df_accidentes)
print(str(elapsed)+"segundos")

           Date      Time                            Location  \
0    1908-09-17  17:18:00                 Fort Myer, Virginia
1    1909-09-07  00:00:00             Juvisy-sur-Orge, France
2    1912-07-12  06:30:00           Atlantic City, New Jersey
3    1913-08-06  00:00:00  Victoria, British Columbia, Canada
4    1913-09-09  18:30:00                  Over the North Sea
...         ...       ...                                 ...
5003 2021-03-28  18:35:00                  Near Butte, Alaska
5004 2021-05-21  18:00:00                Near Kaduna, Nigeria
5005 2021-06-10  08:00:00          Near Pyin Oo Lwin, Myanmar
5006 2021-07-04  11:30:00          Patikul, Sulu, Philippines
5007 2021-07-06  15:00:00                      Palana, Russia

                             Operator Flight                         Route  \
0                Military - U.S. Army      ?                 Demonstration
1                                          ?                      Air show
2                Military - U.S. Navy      ?                   Test flight
3                             Private      ?                             ?
4              Military - German Navy      ?                             ?
...                               ...    ...                           ...
5003                Soloy Helicopters      ?           Sightseeing Charter
5004    Military - Nigerian Air Force      ?                             ?
5005     Military - Myanmar Air Force      ?          Naypyidaw - Anisakan
5006  Military - Philippine Air Force      ?  Cagayan de Oro-Lumbia - Jolo
5007    Kamchatka Aviation Enterprise    251        Petropavlovsk - Palana

                               Type Registration   cn/In Aboard  \
0                  Wright Flyer III            ?       1      2
1                    Wright Byplane          SC1       ?      1
2                         Dirigible            ?       ?      5
3                  Curtiss seaplane            ?       ?      1
4            Zeppelin L-1 (airship)            ?       ?     20
...                             ...          ...     ...    ...
5003    Eurocopter AS350B3¬†Ecureuil       N351SH    4598      6
5004  Beechcraft B300 King Air 350i       NAF203  FL-891     11
5005               Beechcraft 1900D         4610   E-325     14
5006       Lockheed C-130H Hercules         5125    5125     96
5007             Antonov An 26B-100     RA-26085   12310     28

     Passengers_Aboard Crew Aboard Fatalities Passengers Fatalities  \
0                    1           1          1                     1
1                    0           1          1                     0
2                    0           5          5                     0
3                    0           1          1                     0
4                    ?           ?         14                     ?
...                ...         ...        ...                   ...
5003                 5           1          5                     4
5004                 7           4         11                     7
5005                12           2         12                    11
5006                88           8         50                     ?
5007                22           6         28                    22

     Crew Fatalities Ground                                            Summary
0                  0      0  During a demonstration flight, a U.S. Army fly...
1                  0      0  Eugene Lefebvre was the first pilot to ever be...
2                  5      0  First U.S. dirigible Akron exploded just offsh...
3                  1      0  The first fatal airplane accident in Canada oc...
4                  ?      0  The airship flew into a thunderstorm and encou...
...              ...    ...                                                ...
5003               1      0  The sightseeing helicopter crashed after missi...
5004               4      0  While on final approach, in poor weather condi...
5005               1      0  The plane was carrying military personnel and ...
5006               ?      3  While attempting to land at Jolo Airport, the ...
5007               6      0  The passenger plane crashed into the top of a ...

[5008 rows x 17 columns]
110.98752284049988segundos

Longitud

In [90]:
df_accidentes2['Longitude']=df_accidentes2['Location'].apply(lambda x: (x.longitude))

end = time.time()
elapsed = end - start

print(df_accidentes)
print(str(elapsed)+"segundos")

           Date      Time                            Location  \
0    1908-09-17  17:18:00                 Fort Myer, Virginia
1    1909-09-07  00:00:00             Juvisy-sur-Orge, France
2    1912-07-12  06:30:00           Atlantic City, New Jersey
3    1913-08-06  00:00:00  Victoria, British Columbia, Canada
4    1913-09-09  18:30:00                  Over the North Sea
...         ...       ...                                 ...
5003 2021-03-28  18:35:00                  Near Butte, Alaska
5004 2021-05-21  18:00:00                Near Kaduna, Nigeria
5005 2021-06-10  08:00:00          Near Pyin Oo Lwin, Myanmar
5006 2021-07-04  11:30:00          Patikul, Sulu, Philippines
5007 2021-07-06  15:00:00                      Palana, Russia

                             Operator Flight                         Route  \
0                Military - U.S. Army      ?                 Demonstration
1                                          ?                      Air show
2                Military - U.S. Navy      ?                   Test flight
3                             Private      ?                             ?
4              Military - German Navy      ?                             ?
...                               ...    ...                           ...
5003                Soloy Helicopters      ?           Sightseeing Charter
5004    Military - Nigerian Air Force      ?                             ?
5005     Military - Myanmar Air Force      ?          Naypyidaw - Anisakan
5006  Military - Philippine Air Force      ?  Cagayan de Oro-Lumbia - Jolo
5007    Kamchatka Aviation Enterprise    251        Petropavlovsk - Palana

                               Type Registration   cn/In Aboard  \
0                  Wright Flyer III            ?       1      2
1                    Wright Byplane          SC1       ?      1
2                         Dirigible            ?       ?      5
3                  Curtiss seaplane            ?       ?      1
4            Zeppelin L-1 (airship)            ?       ?     20
...                             ...          ...     ...    ...
5003    Eurocopter AS350B3¬†Ecureuil       N351SH    4598      6
5004  Beechcraft B300 King Air 350i       NAF203  FL-891     11
5005               Beechcraft 1900D         4610   E-325     14
5006       Lockheed C-130H Hercules         5125    5125     96
5007             Antonov An 26B-100     RA-26085   12310     28

     Passengers_Aboard Crew Aboard Fatalities Passengers Fatalities  \
0                    1           1          1                     1
1                    0           1          1                     0
2                    0           5          5                     0
3                    0           1          1                     0
4                    ?           ?         14                     ?
...                ...         ...        ...                   ...
5003                 5           1          5                     4
5004                 7           4         11                     7
5005                12           2         12                    11
5006                88           8         50                     ?
5007                22           6         28                    22

     Crew Fatalities Ground                                            Summary
0                  0      0  During a demonstration flight, a U.S. Army fly...
1                  0      0  Eugene Lefebvre was the first pilot to ever be...
2                  5      0  First U.S. dirigible Akron exploded just offsh...
3                  1      0  The first fatal airplane accident in Canada oc...
4                  ?      0  The airship flew into a thunderstorm and encou...
...              ...    ...                                                ...
5003               1      0  The sightseeing helicopter crashed after missi...
5004               4      0  While on final approach, in poor weather condi...
5005               1      0  The plane was carrying military personnel and ...
5006               ?      3  While attempting to land at Jolo Airport, the ...
5007               6      0  The passenger plane crashed into the top of a ...

[5008 rows x 17 columns]
124.0047881603241segundos

In [106]:
df_accidentes2.head(2)

,Date,Time,Location,Operator,Flight,Route,Type,Registration,cn/In,Aboard,Passengers_Aboard,Crew Aboard,Fatalities,Passengers Fatalities,Crew Fatalities,Ground,Summary,Latitude,Longitude
4900,2014-08-31,19:45:00,"(Mwanza, Nyamagana, Mwanza, Lake Zone, 33214, ...",Safari Express Cargo,?,Mwanza - Nairobi,Fokker F-27 MK 500,5Y-SXP,10681,3,1,2,3,1,2,0,The cargo plane crashed within the borders of ...,-2.519691,32.901442
4901,2014-09-20,09:35:00,"(landfill site near Port Moresby, Port Moresby...",Hevlift,?,Woitape - Port Moresby,de Havilland Canada DHC-6 Twin Otter 300,P2-KSV,528,9,7,2,4,2,2,0,While approaching Port Moresby Jacksons Intern...,-9.418986,147.149660

# ExportacionTablas

Tabla 1 (principal)

In [92]:
df_accidentes.to_csv('./Accidentes.csv', sep=',',index=False)

In [93]:
file_1=pd.read_csv('./Accidentes.csv')

In [94]:
from sqlalchemy import create_engine

In [95]:
cadena_conexion= 'mysql+pymysql://root:Sebacapo039@localhost:3306/prueba'

conexion= create_engine(cadena_conexion)

def ImportaTablasAMySql(entry,nombre):  
    
    
    entry.to_sql(name=nombre, con=conexion)

In [ ]:
ImportaTablasAMySql(file_1,'Accidentes')

Tabla Muestra

In [101]:
df_accidentes2.to_csv('./Muestra_Accidentes.csv', sep=',',index=False)

In [102]:
file_1=pd.read_csv('./Muestra_Accidentes.csv')

In [103]:
cadena_conexion= 'mysql+pymysql://root:Sebacapo039@localhost:3306/prueba'

conexion= create_engine(cadena_conexion)

def ImportaTablasAMySql(entry,nombre):  
    
    
    entry.to_sql(name=nombre, con=conexion)

In [105]:
ImportaTablasAMySql(file_1,'Muestra_Accidentes')

c:\Users\juseb\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Muestra_Accidentes' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)