In [33]:
import pandas as pd

In [34]:
df_terrorismo= pd.read_csv('/henry/PI03/globalterrorismdb_0718dist.csv',)

C:\Users\juseb\AppData\Local\Temp\ipykernel_9092\2351364960.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df_terrorismo= pd.read_csv('/henry/PI03/globalterrorismdb_0718dist.csv',)

In [35]:
df_terrorismo.head(2)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN

In [36]:
df_terrorismo=df_terrorismo[['eventid','iyear', 'imonth', 'country_txt', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'success', 'attacktype1_txt', 'targtype1_txt', 'natlty1_txt', 'gname', 'weaptype1_txt', 'weapsubtype1_txt', 'nkill', 'nwound']]

In [37]:
df_terrorismo.rename(columns={'imonth': 'Month',
 'iyear': 'Year',
 'eventid': 'Event ID',
 'country_txt': 'Country',
 'region_txt': 'Region',
 'provstate': 'State',
 'city': 'City',
 'attacktype1_txt': 'Attack type',
 'targtype1_txt': 'Target',
 'natlty1_txt': 'Nationality',
 'gname': 'Terrorist Group',
 'weaptype1_txt': 'Weapon type',
 'weapsubtype1_txt': 'Weapon subtype',
 'nkill': 'Killed',
 'nwound': 'Wounded'},inplace=True)

In [38]:
df_terrorismo.head(2)

,Event ID,Year,Month,Country,Region,State,City,latitude,longitude,success,Attack type,Target,Nationality,Terrorist Group,Weapon type,Weapon subtype,Killed,Wounded
0,197000000001,1970,7,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,1,Assassination,Private Citizens & Property,Dominican Republic,MANO-D,Unknown,NaN,1.0,0.0
1,197000000002,1970,0,Mexico,North America,Federal,Mexico city,19.371887,-99.086624,1,Hostage Taking (Kidnapping),Government (Diplomatic),Belgium,23rd of September Communist League,Unknown,NaN,0.0,0.0

In [39]:
df_terrorismo.to_csv('./archivofinalterrorismo.csv', sep=',',index=False)

In [40]:
file_1=pd.read_csv('./archivofinalterrorismo.csv')

In [41]:
from sqlalchemy import create_engine
cadena_conexion= 'mysql+pymysql://root:Sebacapo039@localhost:3306/prueba'

conexion= create_engine(cadena_conexion)

In [42]:
def ImportaTablasAMySql(entry,nombre):  
    
    
    entry.to_sql(name=nombre, con=conexion)

In [48]:
ImportaTablasAMySql(file_1,'Terrorismo')

c:\Users\juseb\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Terrorismo' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)